In [1]:
# importing necessary libraries.
import pandas as pd
import numpy as np

In [2]:
# importing data and creating copies of data.
data1=pd.read_csv('D:\MTech_project\Datasets\pdm_miss.csv')
# creating copies of data
data2=data1.copy()
data3=data2.copy()

In [3]:
# getting information about data
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     9785 non-null   object
 3   Air temperature [K]      9736 non-null   float64
 4   Process temperature [K]  9713 non-null   float64
 5   Rotational speed [rpm]   8967 non-null   float64
 6   Torque [Nm]              8846 non-null   float64
 7   Tool wear [min]          8868 non-null   float64
 8   Machine failure          10000 non-null  int64
 9   TWF                      9996 non-null   float64
 10  HDF                      9999 non-null   float64
 11  PWF                      10000 non-null  int64
 12  OSF                      9999 non-null   float64
 13  RNF                      9999 non-null   float64
dtypes: float64(9), int64(3), object(2)
memory usage: 1.1+ MB

In [4]:
data1.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,9736.000000,9713.000000,8967.000000,8846.000000,8868.000000,10000.000000,9996.000000,9999.000000,10000.000000,9999.000000,9999.000000
mean,5000.50000,300.027301,310.002141,1538.870302,40.014153,107.944407,0.033900,0.004602,0.011501,0.009500,0.009701,0.001900
std,2886.89568,2.019813,1.502184,179.869126,9.989812,63.642683,0.180981,0.067684,0.106630,0.097009,0.098019,0.043552
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2500.75000,298.300000,308.800000,1422.000000,33.300000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5000.50000,300.200000,310.000000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7500.25000,301.600000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
data1.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551.0,42.8,0.0,0,0.0,0.0,0,0.0,0.0
1,2,L47181,L,298.2,308.7,1408.0,46.3,3.0,0,0.0,0.0,0,0.0,0.0
2,3,L47182,L,298.1,308.5,1498.0,49.4,5.0,0,0.0,0.0,0,0.0,0.0
3,4,L47183,L,298.2,308.6,1433.0,39.5,7.0,0,0.0,0.0,0,0.0,0.0
4,5,L47184,L,298.2,308.7,1408.0,40.0,9.0,0,0.0,0.0,0,0.0,0.0

In [6]:
# check null mvalues 

print(data1.isnull().sum())

print('Total null values:',data1.isnull().sum().sum())

UDI                           0
Product ID                    0
Type                        215
Air temperature [K]         264
Process temperature [K]     287
Rotational speed [rpm]     1033
Torque [Nm]                1154
Tool wear [min]            1132
Machine failure               0
TWF                           4
HDF                           1
PWF                           0
OSF                           1
RNF                           1
dtype: int64
Total null values: 4092

In [7]:
# Some columns have no impact on output of the model, need to be removed.
cols=['UDI', 'Product ID','TWF', 'HDF', 'PWF', 'OSF','RNF','Type']

data1.drop(columns=cols, inplace=True) # axis is not given since we have given 'columns' vaiable in it.
data1.columns

Index(['Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]',
       'Machine failure'],
      dtype='object')

In [8]:
# To fill NA/NaN values using the specified values
#syntax: - dataframe.fillna()
data1['Air temperature [K]'].fillna(data1['Air temperature [K]'].mean(), inplace=True)

In [9]:
print(data1.isnull().sum())

Air temperature [K]           0
Process temperature [K]     287
Rotational speed [rpm]     1033
Torque [Nm]                1154
Tool wear [min]            1132
Machine failure               0
dtype: int64

In [10]:
data1['Process temperature [K]'].fillna(data1['Process temperature [K]'].mean(), inplace=True)

In [11]:
data1['Rotational speed [rpm]'].fillna(data1['Rotational speed [rpm]'].mean(), inplace=True)

In [12]:
data1['Torque [Nm]'].fillna(data1['Torque [Nm]'].mean(), inplace=True)

In [14]:
data1['Tool wear [min]'].fillna(data1['Tool wear [min]'].mean(), inplace=True)

In [15]:
print(data1.isnull().sum())

Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
dtype: int64

In [16]:
# Assaign the dependent and independt variable
x=data1.drop(columns=['Machine failure'], inplace=False)
y=data1['Machine failure']

# HoldOut Validation Approach- Train & Test Split

In [17]:
# we need to split the data, hence inport the data.
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y, test_size=0.3,random_state=3)
print(train_x.shape,test_x.shape,train_y.shape,test_y.shape)

(7000, 5) (3000, 5) (7000,) (3000,)

In [18]:
from sklearn.tree import DecisionTreeClassifier 
model=DecisionTreeClassifier()
model.fit(train_x, train_y)

DecisionTreeClassifier()

In [19]:
result=model.score(test_x, test_y)
print(result)

0.975

# K-Fold cross validation

In [21]:
from sklearn.model_selection import KFold
model1=DecisionTreeClassifier()
kfold_validation=KFold(5)

In [22]:
from sklearn.model_selection import cross_val_score
result1=cross_val_score(model1,x,y,cv=kfold_validation)
print(result1)

[0.9635 0.9535 0.92   0.9745 0.9835]

In [23]:
print(np.mean(result1))

0.959

# stratified K- Fold cross validation

In [26]:
from sklearn.model_selection import StratifiedKFold
skfold=StratifiedKFold(n_splits=5)
Model2=DecisionTreeClassifier()
scores2=cross_val_score(Model2, x,y,cv=skfold)

In [27]:
print(np.mean(scores2))

0.8657999999999999

# End of validation